* {
  box-sizing: border-box;
}

body {
  line-height: 2em;
  color: #333333b3;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.row {
  display: grid;
  grid-template-columns: 50% 50%;
}

.column {
  height: 100%;
  padding: 10px;
  border: 1.5px solid #fff;
  text-align: center;
}

.column p {
  font-size: 20px;
}

#blogs,
#feeds {
  width: 45%;
  margin: 0 auto;
  font-weight: 400;
  font-size: 32px;
  text-decoration: none;
  color: rgba(39, 35, 67, 1);
  position: absolute;
  top: 45%;
  left: 3%;
  border-radius: 20px;
  letter-spacing: 4px;
}

#feeds {
  position: absolute;
  top: 45%;
  left: 50%;
}

#btn {
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  margin: 0 auto;
  background: #e42c64;
  font-size: 12px;
  position: absolute;
  top: 89%;
  left: 50%;
  color: #eae3e3;
  font-weight: bold;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 0 0 10px #f00;
  user-select: none;
}
